@model IEnumerable<NqtLesson10.Models.NqtPost>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NqtTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NqtImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NqtText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NqtStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NqtTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NqtImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NqtText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NqtStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NqtId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NqtId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NqtId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
