@model NqtLesson09.Models.NqtPublisher

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NqtPublisher</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtPublisherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtPublisherName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NqtPublisherId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
