@model NqtLesson09.Models.NqtAccount

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NqtAccount</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtUsername)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtUsername)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtPicture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtPicture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtIsAdmin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtIsAdmin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtActive)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NqtAccountId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
