@model NqtLesson09.Models.NqtAccount

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NqtAccount</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtUsername)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtUsername)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtPicture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtPicture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtIsAdmin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtIsAdmin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NqtAccountId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
