@model IEnumerable<NqtLesson09.Models.NqtAccount>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NqtUsername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NqtPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NqtFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NqtPicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NqtEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NqtAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NqtPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NqtIsAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NqtActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NqtUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NqtPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NqtFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NqtPicture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NqtEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NqtAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NqtPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NqtIsAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NqtActive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NqtAccountId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NqtAccountId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NqtAccountId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
