@model NqtLesson09.Models.NqtBook

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NqtBook</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtAuthor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtAuthor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtRelease)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtRelease)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtPicture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtPicture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtCategory.NqtCategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtPublisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtPublisher.NqtPublisherId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NqtBookId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
