@model NqtLesson09.Models.NqtBook

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NqtBook</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtAuthor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtAuthor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtRelease)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtRelease)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtPicture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtPicture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtCategory.NqtCategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtPublisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtPublisher.NqtPublisherId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NqtBookId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
