@model NqtLesson07.Models.NqtEmployee

@{
    ViewData["Title"] = "NqtDetail";
}

<h1>NqtDetail</h1>

<div>
    <h4>NqtEmployee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtBirthDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtBirthDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtStatus)
        </dd>
    </dl>
</div>
<div>
    <a href="@Url.Action("NqtEdit", new { id = Model.NqtID })" class="btn btn-sm btn-primary me-1" title="Sửa">
        <i class="fas fa-edit"></i> Edit
    </a>
    <a asp-action="NqtIndex" class="btn btn-sm btn-primary me-1">Back to List</a>
</div>
