@model NqtLesson09.Models.NqtOrderDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NqtOrderDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtTotalMoney)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtTotalMoney)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtBook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtBook.NqtBookId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtOrder.NqtOrderId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NqtOrderDetailId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
