@model IEnumerable<NqtLesson09.Models.NqtOrderDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NqtQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NqtPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NqtTotalMoney)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NqtBook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NqtOrder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NqtQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NqtPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NqtTotalMoney)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NqtBook.NqtBookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NqtOrder.NqtOrderId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NqtOrderDetailId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NqtOrderDetailId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NqtOrderDetailId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
