@model NqtLesson09.Models.NqtOrderBook

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NqtOrderBook</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtOrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtOrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtReceiveAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtReceiveAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtReceivePhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtReceivePhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtOrderReceive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtOrderReceive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtNote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NqtAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NqtAccount.NqtAccountId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NqtOrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
